.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.blue{
    background-color: blue;
}
.bold{
    font-size: bold;
}
.yellow{
    background-color: yellow;
}